<!DOCTYPE html>
<html>
<head>
  <title>Androidrss</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= image_tag("CoplandOs_Icon.png") %>
</header>
<%= yield %>

</body>
</html>